<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Boombox</title>

    <!-- Bootstrap -->
    <link href="lib/css/bootstrap.min.css" rel="stylesheet">

    <!-- Angular -->
    <script src="lib/js/angular.js"></script>
    <script src="lib/js/angular.audio.js"></script>

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">


</head>
<body>

<div id="wrapper" ng-controller="MainCtrl" >

    <div ng-controller="GridCtrl" class="btn-group">
        <step nr="step[1]" color="'red'"></step>
        <step nr="step[2]" color="'red'"></step>
        <step nr="step[3]" color="'red'"></step>
        <step nr="step[4]" color="'red'"></step>
        <step nr="step[5]" color="'orange'"></step>
        <step nr="step[6]" color="'orange'"></step>
        <step nr="step[7]" color="'orange'"></step>
        <step nr="step[8]" color="'orange'"></step>
        <step nr="step[9]" color="'yellow'"></step>
        <step nr="step[10]" color="'yellow'"></step>
        <step nr="step[11]" color="'yellow'"></step>
        <step nr="step[12]" color="'yelow'"></step>
        <step nr="step[13]" color="'white'"></step>
        <step nr="step[14]" color="'white'"></step>
        <step nr="step[15]" color="'white'"></step>
        <step nr="step[16]" color="'white'"></step>
    </div>


    <form ng-controller="TransCtrl">
        <button class="btn" ng-click="onStart()">Start</button>
        <button class="btn" ng-click="onStop()">Stop</button>
        <button class="btn" ng-click="onNext()">Next</button>
    </form>


</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="lib/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="lib/js/bootstrap.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controller/main.js"></script>
<script src="js/controller/grid.js"></script>
<script src="components/step/step.js"></script>
<script src="js/controller/transport.js"></script>
<script src="js/service/sequencerService.js"></script>
<script src="js/service/iteratorService.js"></script>
<script src="js/model/pattern.js"></script>
<script src="js/model/step.js"></script>
</body>
</html>